# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov

# Build output
dist/
build/

# Dependency directories
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# VSCode settings
.vscode/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE project files
.idea/
*.iml

# Misc
*.swp
*.swo
